<div id="<%= dom_id unsafe_article %>" class="my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= unsafe_article.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Content:</strong>
    <%= unsafe_article.content %>
  </div>
</div>
