<% content_for :title, "Editing unsafe article" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing unsafe article</h1>

  <%= render "form", unsafe_article: @unsafe_article %>

  <%= link_to "Show this unsafe article", @unsafe_article, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to unsafe articles", unsafe_articles_path, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
